#name{
  width: 75%;
  display: flex;
  align-items: center;
  font-size: 80px;
  font-weight: bold;
}

.Heading{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bolder;
}

.sudoku_grid{
  display: flex;
  flex-direction: row;
  max-width: 578px;
  flex-wrap: wrap;

  margin: 10px auto ;
}

.sudoku_grid div{
  display:  flex;
  align-items: center;
  justify-content: center;
  
  width: 60px;
  height: 60px;
  color:#325AAF;
  font-size: 40px;

  box-sizing: border-box;
}

.Buttons{   
  display: flex;
  justify-content: center;
  width: 100%;    
  margin-bottom: 40px;
}

#GetPuzzle,#SolvePuzzle{
  display: inline-block;
  text-decoration: none;
  color: #020202;
  font-weight: bold;
  background-color: skyblue;
  padding: 10px 35px;
  font-size: 24px;
  border: 1px solid grey;
  box-shadow: inset 0px 1px 0px black;
  margin-right: 10px;
}

.box1{
  background-color: whitesmoke;
  border: 2px solid #2c3338;
}

.box1:hover{
  background-color: dodgerblue;
  color: black;
}

.box2{
  background-color: whitesmoke;
  border: 2px solid  #2c3338;
}
.box2:hover{
  background-color: dodgerblue;
}

.box3{
  background-color: whitesmoke;
  border: 2px solid  #2c3338;
}
.box3:hover{
  background-color: dodgerblue;
  color:  black
}

.bl{
  border-left: 5px solid black;
}

.bb{
  border-bottom: 5px solid black;
}

.br{
  border-right: 5px solid black;
}

.bt{
  border-top: 5px solid black;
}